:root{
    --primary: rgba(55, 170, 60, 1);
    --linkColor: rgba(1, 146, 103, 1);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    list-style: none;
    text-decoration: none;
}

body{
    font-family: 'Poppins', sans-serif;
    font-size: 1.3rem;
}
/* .container {
} */

.center-ariq{
    display: flex;
    height: 100vh;

}

.container > .image{
    background-image: url("../Asset/pexels-vojta-kovařík-1275415.jpg");
    width: 570px;
    height: auto;
    /* min-height: 100%; */
    /* position: relative; */
    /* background-image: url("https://images.pexels.com/photos/114979/pexels-photo-114979.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"); */
    background-size: cover;
}

.container .form-login {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 20px;
    max-width: 50%;
}
